// h1 = 105px;
// h2 = 115px;
// p, a = 45px; 

html {
    font-size: 62.5%;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}

h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0; 
    text-transform: uppercase;
    color: $textColor;
}

h2, p, a {
    font-family: $primaryFont;
}

h1 {
    font-family: $secondaryFont;
    font-size: 9rem;
}

h2 {
    font-size: 9.85rem;
}

p, a {
    font-size: 3.80rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

li {
    list-style: none;
    margin-right: 115px;
}

li:nth-child(3) {
    margin: 0;
}

a {
    text-decoration: none;
}


img {
    display: block;
    width: 100%;
}